{% load static %}
{# {% load bootstrap5 %} #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sky Teams{% endblock %}</title>

    {# {% bootstrap_css %} #}

    <link rel="stylesheet" href="{% static 'pages/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
          rel="stylesheet">
</head>

<body class="site-body">
    <div class="site-wrapper">
        {% block header %}
            {% include "header.html" %}
        {% endblock %}

        <main class="site-main">
            <div class="content-container">
                    {% block content %}{% endblock %}
            </div>
        </main>

        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
</body>
</html>